:root{
    --accent:#FFD479;
    --font-base:"Roboto",sans-serif;
    --font-accent:"Bebas Neue",sans-serif;
    font-weight: 300 ;
}

body{
    background-color: #1F2A32;
    color: #FAFAF5;
    font-family: (--font-base);
    font-weight: 300;
}
.title-1{
    font-family: (var--font-accent);
    font-weight: 700;
    color: var(--accent);
    font-size: 96px;
}
.container{
    
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    color: #FAFAF5;
    text-decoration: underline;
}